.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    background-color: #000000; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
  }
  .heading h1 {
    margin: 1;
    font-size: 24vh;
  }
  
  .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 3vh;
  }
  
  .navbar nav ul li a {
    text-decoration: none;
    color: #fff;
    
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar nav ul li a:hover {
    color: #1E9DD3; /* Change the hover color as needed */
  }
  .home h1{
    font-size: 2em;
}
  