@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
}

.home {
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.type-animation {
  font-weight: bold;
  font-size: xx-large;
  padding: 5vh;
  display: flex;
  justify-content: center;
}
.family-tree {


  height: 100%;
  margin: 5vh;
}
